name: cd

on:
  push:
    branches: [main]

jobs:
  Deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Install dependencies
        run: npm ci

      - name: Build app
        run: npm run build

      - name: Authenticate to GCP
        uses: google-github-actions/auth@v1
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v1

      - name: Configure Docker authentication
        run: gcloud auth configure-docker us-central1-docker.pkg.dev

      - name: Build & Push Docker image
        run: |
          docker build -t us-central1-docker.pkg.dev/notely-487119/notely-ar-repo/notely:latest .
          docker push us-central1-docker.pkg.dev/notely-487119/notely-ar-repo/notely:latest
