name: cd

on:
  push:
    branches: [main]

jobs:
  Deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write  # <-- needed for OIDC auth

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Install dependencies
        run: npm ci

      - name: Build app
        run: npm run build

      - name: Authenticate to GCP via OIDC
        uses: google-github-actions/auth@v1
        with:
          workload_identity_provider: "projects/284285394842/locations/global/workloadIdentityPools/github-pool/providers/github-oidc"
          service_account: "notely-deployer@notely-487119.iam.gserviceaccount.com"

      - name: Build & Push Docker image
        run: |
          gcloud builds submit \
            --tag us-central1-docker.pkg.dev/notely-487119/notely-ar-repo/notely:latest
